Body{
  background-image: url("../images/bg.space.jpg");
}
H1{
  text-align: center;
  background-color: Darkgrey;
  font-weight: bold;
  text-shadow: #000 3px 0 10px;
  color: #BAD455;
}
A{
  font-weight: bold;
}

ol{
  background-color: Lightblue;
}
Div{
  background-color: #BAD455;
}
